{% extends "page.html" %}
{% block titletag %}DNSmasq cnames{% endblock %}
{% macro row_cname( key, source, dest, disabled, class ) %}
 <form action="/cnames/save" method="POST" class="t-row {{ class }}"
  id="row-cname-{{ key }}">
  <div class="t-cell enabled">
   <input type="checkbox" name="enabled" class="cname-enabled field" {% 
    if not disabled %}checked="checked"{% endif %}
    id="cname-enabled-{{ key }}"/>
  </div>
  <div class="t-cell">
   <input type="text" name="source" value="{{ source }}"
    class="cname-source field" id="cname-source-{{ source }}"/>
  </div>
  <div class="t-cell">
   <input type="text" name="dest" value="{{ dest }}"
    class="cname-dest field" id="cname-dest-{{ key }}"/>
  </div>
  <div class="t-cell">
   <input type="submit" name="action" value="Save" />
   <input type="submit" name="action" value="Delete" />
  </div>
 </form>
{% endmacro %}
{% block content %}

<div class="t-table">
 <div class="t-row-head">
  <div class="t-cell-head">Enabled</div>
  <div class="t-cell-head">Source</div>
  <div class="t-cell-head">Destination</div>
 </div>
{% for cname in cnames %}
{{ row_cname( cname.source, cname.source, cname.dest, cname.disabled, '' ) }}
{% endfor %}
{{ row_cname( 'new', '', '', true, 'new' ) }}
</div>
{% endblock %}
