{% extends "page.html" %}
{% block titletag %}DNSmasq Hosts{% endblock %}
{% block scripts %}
<script type="text/javascript">

$(document).ready( function() {
	$('.save').hide();
	$('.field').on( 'keypress', function() {
		$(this).parents( '.host-row' ).find( '.save' ).fadeIn();
	} );
} );

</script>
{% endblock %}
{% macro row_host( key, name, ip, macs, disabled ) %}
 <form action="/hosts/save" method="POST" class="t-row">
  <div class="t-cell">
   <input name="enabled" class="host-enabled field" type="checkbox" {% 
    if not disabled %}checked="checked"{% endif %}
    id="host-enabled-{{ key }}"/>
  </div>
  <div class="t-cell">
   <input 
    id="host-name-{{ key }}" name="name" class="host-name field"
    type="text" value="{{ name }}" />
  </div>
  <div class="t-cell">
   <input
    id="host-ip-{{ key }}" name="ip" class="host-ip field"
    type="text" value="{{ ip }}" readonly
    />
  </div>
  <div class="t-cell">
{% for mac in macs %}
   <input
    name="mac" class="host-mac field"
    type="text" value="{{ mac }}"
   />
{% endfor %}
   <input
    name="mac" class="host-mac field"
    type="text" value="{{ mac }}"
   />
  </div>
  <div class="t-cell">
   <input id="host-save-{{ key }}" type="submit" name="action" value="Save" class="save" />
  </div>
 </form>
{% endmacro %}
{% block content %}

<div class="t-table">
 <div class="t-row-head">
  <div class="t-cell-head">Enabled</div>
  <div class="t-cell-head">Hostname</div>
  <div class="t-cell-head">IP Address</div>
  <div class="t-cell-head">MAC Address</div>
 </div>
{% for host in hosts %}
{{ row_host( host.key, host.name, host.ip, host.mac, host.disabled ) }}
{% endfor %}
{{ row_host( 'new', '', '', [], true ) }}
</table>

{% endblock %}

