{% extends "page.html" %}
{% block titletag %}DNSmasq Interfaces{% endblock %}
{% macro row_interface( key, interface, disabled, class ) %}
 <form action="/interfaces/save" method="post" class="t-row {{ class }}"
  id="row-interface-{{ interface.interface }}">
  <div class="t-cell enabled">
   <input type="checkbox" name="enabled" {%
    if not disabled %}checked="checked"{%
    endif %} id="if-enabled-{{ key }}" 
    class="if-enabled field" />
  </div>
  <div class="t-cell interface">
   <input type="text" id="if-interface-{{ key }}"
    name="interface" value="{{ interface }}" 
    class="if-interface field" />
  </div>
  <div class="t-cell submit">
   <input type="submit" name="action" value="Save" />
   <input type="submit" name="action" value="Delete" />
  </div>
 </form>
{% endmacro %}
{% block content %}

<div class="t-table">
 <div class="t-row-head">
  <div class="t-cell-head">Enabled</div>
  <div class="t-cell-head">Interface</div>
 </div>
{% for interface in interfaces %}
{{ row_interface( interface.interface, interface.interface, interface.disabled, '' ) }}
{% endfor %}
{{ row_interface( 'new', '', true, 'new' ) }}
</div>
{% endblock %}
